@import "jam/bootstrap/less/bootstrap.less";

/* Custom app styles here  */
.hide {
  display: none;
}
.page-header {
  top: 7px;
  padding: 10px;
  background-color: #fff;
}
#docs-body > .container {
  margin-top: 80px;
}

#dashboard-topbar {
  position: fixed;
  top: 0;
}

#page-title small {
  padding-left: 5px;
}
