@import "jam/bootstrap/less/bootstrap.less";
@aqua: #1A8FB2;
@lightaqua: rgb(239, 249, 250);
@baseFontSize: 14px;

/* Custom app styles here  */
.hide {
  display: none;
}
.page-header {
  top: 7px;
  padding: 10px 0 10px 0;
  background-color: #fff;
}

#dashboard-topbar {
  position: fixed;
  top: 0;
}

#version {
  padding-left: 5px;
  font-size: 12px;
  color: #ddd;
}

#content {
  margin-top: 80px;
  h1 {
    padding: 20px 0 10px 0;
  }
  h2 {
    padding: 20px 0 20px 0;
  }
  h3 {
    padding: 10px 0 10px 0;
  }
  .images {
    width: 800px;
  }
}

#sections-menu {
  margin: 8px 10px 0 0;
}

#sections {
  ul {
    padding: 0;
    margin: 0;
  }
  ul > li {
    list-style: none;
  }
  li {
    font-weight: bold;
  }
  .subhead {
    font-size: 1em;
    font-weight: normal;
    padding-left: 10px;
    line-height: 1.4em;
  }
}
