<div class="container">

    <table class="table">
        <tbody>
        {{#each rows}}
            <tr>
                <td>{{id}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div><!-- /container -->