<div class="container">


    {{#if userCtx.name}}
        <h1>
            Hello, {{userCtx.name}}
        </h1>
    {{else}}
        Please <a href="{{login_url}}">Login</a>
    {{/if}}


</div><!-- /container -->
